/* styles.css */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.contents {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    height: 100%;
    padding-bottom: 50px;
  }

  .header-image img {
    width: 100%;
    max-width: 1000px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.profile-container {
    text-align: right;
}

.header-image img {
    width: 100%; /* Increase the width to more than 100% */
    max-width: none; /* Remove the max-width limit */
    height: auto;
    display: block;
    position: relative; /* Add relative positioning */
    left: -10%; /* Use negative left value to move the image to the left */
}