<!-- _layouts/default.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{page.title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class = "header-content">
        <nav class="nav-container">
            <div class="nav-left">
                <a href="pages/about.html">About Me</a> |
                <a href="pages/equations_eg.html">EquationsEx</a> |
                <a href="pages/image_eg.html">ImageEx</a>
            </div> 
            <div class="nav-right"> 
                <div class = "social-logos">
                    <a href="https://github.com/kirandwiv">
                        <img src="../figures/index/github-mark.png" alt="GitHub Logo" class="social-logo">
                    </a>
                    <a href="https://www.linkedin.com/in/kiran-dwivedi-3b6b82178/">
                        <img src="../figures/index/linkedin.png" alt="LinkedIn Logo" class="social-logo">
                    </a>
                </div>
            </div>
        </nav> 
    <div class="contents">
        {{content}}
    </div>
</body>
</html>